body {
    padding: 50px 150px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(228, 200, 255);
}

#main-background {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 1600px;
    background-image: url("images/wedding-rings.png");
    opacity: .10;
}

h1 {
    font-size: 60px;
}

hr {
    border: 3px solid black;
}

h2 {
    margin-top: -40px;
    color: rgb(216, 216, 216);
}

a {
    text-decoration: none;
    color: inherit;
}

#safe-box {
    height: 320px;
    border: 5px solid black;
    border-radius: 15%;
    padding: 50px;
    background-color: rgba(50, 50, 50);
}

#combination {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    padding: 0px 20px;
}

.number {
    text-align: center;
    font-size: 100px;
}

.num-selector {
    background-color: white;
    border-radius: 10%;
}

.num-selector-opened {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 10%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.up-button {
    background-color: white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.up-button-opened {
    background-color: rgb(255, 255, 255, 0);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.down-button {
    background-color: white;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.down-button-opened {
    background-color: rgb(255, 255, 255, 0);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.up-button:hover, .down-button:hover {
    background-color: rgb(171, 201, 211);
}

.up-button:active, .down-button:active {
    color: white;
}

#lock-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
}

#safe-button {
    margin: 40px;
    padding: 10px;
    border-radius: 50%;
    grid-column: 2;
}

.lock-img {
    width: 70px;
    height: 70px;
}

.handler-img {
    width: 50px;
    height: 50px;
}

#safe-handler {
    margin: 0 60px;
    padding: 5px;
    border-radius: 50%;
    grid-column: 3;
    display: grid;
    justify-content: center;
    align-content: center;
    visibility: hidden;
}

#challenges-content {
    border: 5px solid black;
    border-radius: 10%;
    margin: auto;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-evenly;
    gap: 20px;
    background-color: rgba(50, 50, 50);
}

.challenge {
    font-size: 38px;
    text-shadow: none;
    border: 5px solid black;
    border-radius: 25%;
    padding: 10px;
    color: rgb(216, 216, 216);
    background-color: rebeccapurple;
}

.challenge:hover {
    color: rgb(103, 158, 231);
}

.challenge:active {
    color: black;
}

@media only screen and (max-width: 1200px) {
    
    body {
        padding: 10px 30px;
        font-size: 15px;
    }

    #main-background {
        height: 1180px;
        background-image: url("images/small-wedding-rings.png");
    }
    
    h1 {
        font-size: 30px;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    hr {
        border: 1px solid black;
    }

    #safe-box {
        height: 185px;
        border: 5px solid black;
        border-radius: 15%;
        padding: 10px 0px;
        background-color: rgba(50, 50, 50);
    }
    
    #combination {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 3px;
    }
    
    .number {
        text-align: center;
        font-size: 20px;
    }

    #lock-container {
        grid-template-columns: repeat(3, 1fr);
        height: 100px;
    }
    
    #safe-button {
        margin: 15px;
        padding: 10px;
        border-radius: 50%;
        grid-column: 2;
        height: 60px;
    }

    #safe-handler {
        margin: 0 40px 0 0;
        padding: 5px;
        border-radius: 50%;
        grid-column: 3;
        font-size: 7px;
    }
    
    .lock-img {
        width: 35px;
        height: 35px;
    }

    .handler-img {
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }
    
    #challenges-content {
        border: 5px solid black;
        border-radius: 10%;
        margin: auto;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: repeat(3, 90px);
        justify-content: space-evenly;
        gap: 10px 1px;
        background-color: rgba(50, 50, 50);
    }
    
    .challenge {
        font-size: 15px;
        text-shadow: none;
        border: 5px solid black;
        border-radius: 25%;
        padding: -5px;
        color: rgb(216, 216, 216);
        background-color: rebeccapurple;
    }
    
  }